In [3]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
d=input("enter dept:")
curobj.execute(f"select * from emp where emp_dept='{d}'")
print(curobj.fetchall())
con.close()

enter dept: coding

((906, 'dhoni', 67000.0, 'coding'), (999, 'dhoni', 67000.0, 'coding'))

In [4]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
d=input("enter dept:")
s=int(input("enter sal:"))
curobj.execute(f"select * from emp where emp_dept='{d}' and emp_sal>{s}")
print(curobj.fetchall())
con.close()

enter dept: testing
enter sal: 40000

((905, 'aa', 41000.0, 'testing'), (207, 'dhoni', 51000.0, 'testing'))

In [6]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
d=input("enter dept:")
s=int(input("enter sal:"))
curobj.execute("select * from emp where emp_dept=%s and emp_sal>%s",(d,s))
print(curobj.fetchall())
con.close()

enter dept: testing
enter sal: 40000

((905, 'aa', 41000.0, 'testing'), (207, 'dhoni', 51000.0, 'testing'))

In [13]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
i=int(input("enter sal:"))
curobj.execute("select * from emp where emp_id=%s",(i,))
tup=curobj.fetchone()
if(tup==None):
    print("emp does not exist")
else:
    print(tup)
con.close()

enter sal: 23423

emp does not exist

In [14]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
curobj.callproc("pro1")
print(curobj.fetchall())
con.close()

((201, 'virat', 35650.0, 'testing'), (202, 'rohit', None, 'testing'), (205, 'karan', 24105.0, 'testing'), (206, 'arjun', 12550.0, 'testing'), (207, 'dhoni', 51000.0, 'testing'), (208, 'sachin', 24100.0, 'testing'), (501, 'yuvi', 24100.0, 'accounts'), (502, 'pandya', 24100.0, 'accounts'), (506, 'vijay', 31000.0, 'accounts'), (901, 'abc', 26000.0, 'testing'), (902, 'abc', 11000.0, 'testing'), (905, 'aa', 41000.0, 'testing'), (906, 'dhoni', 67000.0, 'coding'), (999, 'dhoni', 67000.0, 'coding'))

In [15]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
curobj.callproc("pro2",[50000])
print(curobj.fetchall())
con.close()

((207, 'dhoni', 51000.0, 'testing'), (906, 'dhoni', 67000.0, 'coding'), (999, 'dhoni', 67000.0, 'coding'))

In [19]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
curobj.callproc("pro4",[201,0])    #0 represents out param of procedure
curobj.execute("select @_pro4_1")
print(curobj.fetchall())
con.close()

(('virat',),)

In [20]:
import time
time.ctime()

'Tue Dec 20 15:04:53 2022'

In [25]:
from datetime import datetime
dt=datetime.now()
d=dt.date()
t=dt.time()
print(d)
print(t)
print(dt)

import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor()
curobj.execute("insert into bank values(%s,%s,%s)",(d,t,dt))
con.commit()
con.close()

2022-12-20
15:07:44.390131
2022-12-20 15:07:44.390131

In [27]:
import sqlite3
con=sqlite3.connect(database="mydb.sqlite")
curobj=con.cursor()
curobj.execute("create table emp(empid int primary key,empname text)")
con.commit()
con.close()
print("table created")

OperationalError: table emp already exists

In [28]:
import sqlite3
con=sqlite3.connect(database="mydb.sqlite")
curobj=con.cursor()
curobj.execute("insert into emp values(101,'surya')")
con.commit()
con.close()
print("done")

done

In [30]:
import sqlite3
con=sqlite3.connect(database="mydb.sqlite")
curobj=con.cursor()
i=int(input("enter id:"))
n=input("enter name:")
curobj.execute("insert into emp values(?,?)",(i,n))
con.commit()
con.close()
print("done")

enter id: 205
enter name: ishan

done

In [32]:
import sqlite3
con=sqlite3.connect(database="mydb.sqlite")
curobj=con.cursor()
curobj.execute("select * from emp")
print(curobj.fetchall())
curobj.scroll(0,mode="absolute")
print(curobj.fetchall())
con.close()

[(101, 'surya'), (102, 'virat'), (205, 'ishan')]

AttributeError: 'sqlite3.Cursor' object has no attribute 'scroll'

In [35]:
import sqlite3
con=sqlite3.connect(database="mydb.sqlite")
curobj=con.cursor()
curobj.execute("select * from emp")
tups=curobj.fetchall()
print(tups)
print(tups[0])
con.close()

[(101, 'surya'), (102, 'virat'), (205, 'ishan')]
(101, 'surya')