# Steps in Database Connectivity
- import db specific driver module
- create connection with database
- create cursor object
- execute query on cursor object
- commit the connection
- close the connection

In [ ]:
import pymysql  #(is a 3rd party module,need to be installed using pip)

In [ ]:
con=pymysql.connect(host="localhost",port=3306,user="root",password="root",database="3to430")

In [ ]:
curobj=con.cursor()  #responsible to execute queries

In [ ]:
rowcount=curobj.execute("insert into emp values(908,'dhoni',66000,'coding')")
print(rowcount)

In [ ]:
con.commit() #persist the query to table

In [ ]:
con.close()

In [ ]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("insert into emp values(909,'dhoni',66000,'coding')")
curobj.execute("update emp set emp_sal=emp_sal+1000")
curobj.execute("delete from emp where emp_id=201")
con.commit()
con.close()
print("done")

In [1]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("insert into emp values(999,'dhoni',66000,'coding')")
curobj.execute("update emp set emp_sal=emp_sal+1000")
curobj.execute("delete from emp where emp_id=908")
con.commit()
con.close()
print("done")

done

In [6]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
#row_count=curobj.execute("select * from emp")
#row_count=curobj.execute("select * from emp where emp_sal>50000")
row_count=curobj.execute("select emp_id,emp_name from emp")
print(row_count)
con.close()

14

In [13]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
row_count=curobj.execute("select * from emp")
tup=curobj.fetchone()
print(tup)

tup=curobj.fetchone()
print(tup)

tups=curobj.fetchmany(3)
print(tups)

tups=curobj.fetchall()
print(tups)

tup=curobj.fetchone()
print(tup)

curobj.scroll(0,mode="absolute")
tup=curobj.fetchone()
print(tup)

con.close()

(201, 'virat', 35650.0, 'testing')
(202, 'rohit', None, 'testing')
((205, 'karan', 24105.0, 'testing'), (206, 'arjun', 12550.0, 'testing'), (207, 'dhoni', 51000.0, 'testing'))
((208, 'sachin', 24100.0, 'testing'), (501, 'yuvi', 24100.0, 'accounts'), (502, 'pandya', 24100.0, 'accounts'), (506, 'vijay', 31000.0, 'accounts'), (901, 'abc', 26000.0, 'testing'), (902, 'abc', 11000.0, 'testing'), (905, 'aa', 41000.0, 'testing'), (906, 'dhoni', 67000.0, 'coding'), (999, 'dhoni', 67000.0, 'coding'))
None
(201, 'virat', 35650.0, 'testing')

In [14]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("select * from emp")
for tup in curobj:
    print(tup)

con.close()

(201, 'virat', 35650.0, 'testing')
(202, 'rohit', None, 'testing')
(205, 'karan', 24105.0, 'testing')
(206, 'arjun', 12550.0, 'testing')
(207, 'dhoni', 51000.0, 'testing')
(208, 'sachin', 24100.0, 'testing')
(501, 'yuvi', 24100.0, 'accounts')
(502, 'pandya', 24100.0, 'accounts')
(506, 'vijay', 31000.0, 'accounts')
(901, 'abc', 26000.0, 'testing')
(902, 'abc', 11000.0, 'testing')
(905, 'aa', 41000.0, 'testing')
(906, 'dhoni', 67000.0, 'coding')
(999, 'dhoni', 67000.0, 'coding')

In [15]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("select * from emp where emp_sal>50000")
for tup in curobj:
    print(tup)

con.close()

(207, 'dhoni', 51000.0, 'testing')
(906, 'dhoni', 67000.0, 'coding')
(999, 'dhoni', 67000.0, 'coding')

In [16]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("select * from emp where emp_sal>50000")
print(curobj.fetchall())
con.close()

((207, 'dhoni', 51000.0, 'testing'), (906, 'dhoni', 67000.0, 'coding'), (999, 'dhoni', 67000.0, 'coding'))

In [24]:
import pymysql
con=pymysql.connect(user="root",password="root",database="3to430")
curobj=con.cursor() 
curobj.execute("select * from emp")
print("Emp_Id\tEmp_name  Emp_Sal\tEmp_Dept")
for tup in curobj:
    print(f"{tup[0]}\t{tup[1]}\t{tup[2]}\t\t{tup[3]}")
con.close()

Emp_Id	Emp_name  Emp_Sal	Emp_Dept
201	virat	35650.0		testing
202	rohit	None		testing
205	karan	24105.0		testing
206	arjun	12550.0		testing
207	dhoni	51000.0		testing
208	sachin	24100.0		testing
501	yuvi	24100.0		accounts
502	pandya	24100.0		accounts
506	vijay	31000.0		accounts
901	abc	26000.0		testing
902	abc	11000.0		testing
905	aa	41000.0		testing
906	dhoni	67000.0		coding
999	dhoni	67000.0		coding